*{
    font-family: Helvetica, sans-serif;
    color: #262626;
}

nav{
    border-bottom-style: solid;
    border-bottom-color: #666666;
    border-bottom-width: thin;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1%;
}

nav h1{
    margin: 0px;
}

nav ul{
    padding: 0px;
    margin: 0px;
}

nav li{
    display: inline-block;
    margin-top: 1%;
    margin-right: 2%;
}

a, a *{
    text-decoration: none;
    color: #004d4d;
}

div.content{
    padding-top: 150px;
    width: 100%;
}

div.content > *{
    margin-left: 5%;
    margin-right: 5%;
}


div.content div.post{
    margin: auto;
    margin-top: 5%;
    width: 80%;
    max-width: 600px;
    padding: 4%;
    border-style: solid;
    border-width: thin;
}

div.post h1{
    margin-top: 0px;
}

div.post img{
    width: 100%;
}

div.post p.description{
    margin-bottom: 70px;
}

div.delete-link-container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    max-width: 600px;
}

div.post-link-container{
    width: 50%;
    min-width: 250px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin: 2%;
    margin-left: 0px;
    padding: 1%;
}

div.form-container{
    width: 40%;
    min-width: 280px;
}

form input[type='text'], form textarea, form input[type='password']{
    font-size: large;
    width: 100%;
}

form input[type='submit']{
    padding: 10px;
    background-color: white;
    color: #004d4d;
    font-size: large;
    border-style: solid;
    border-radius: 10px;
    border-color: #004d4d;
    border-width: thin;
}

.password-response-msg{
    color: red;
}

div.footer{
    margin-top: 150px;
    width: 100%;
    bottom: 0px;
}

div.footer p{
    color: #bfbfbf;
    margin: auto;
    width: 100%;
    text-align: center;
}