*{
    font-family: Helvetica, sans-serif;
    color: #262626;
}

body{
    padding-top: 0px;
    padding-bottom: 0px;
}

nav{
    border-bottom-style: solid;
    border-bottom-color: #666666;
    border-bottom-width: thin;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

nav ul{
    padding: 0px;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}


a, a *{
    text-decoration: none;
    color: #004d4d;
}

div.content{
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 20%;
}

.post{
    margin: 10%;
    margin-top: 5%;
    width: 80%;
    max-width: 600px;
    padding:4%;
    border-style: solid;
    border-width: thin;
}

.post img{
    width: 80%;
}

.post .description{
    margin-bottom: 70px;
}

a.delete-link{
    margin-left: 10%;
}

form input, form textarea{
    font-size: medium;
}

.form-container{
    width: 40%;
}

.password-response-msg{
    color: red;
}

div.footer{
    margin-top: 100px;
    width: 100%;
}

div.footer p{
    color: #808080;
    margin: auto;
    width: 50%;
    text-align: center;
}