{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "A website for lost pet posters">
    <meta name = "author" content = "Heikal Badrulhisham">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mallardville Lost Pets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html'%}
</body>
</html>